@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './lib/ubuntu-ruble.css';
@import './lib/reset.css';
@import './lib/icon.css';

body,
textarea,
button,
input {
  font-family: 'Ubuntu', 'Ubuntu-Ruble', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__nuxt,
#__layout {
  height: 100%;
}
